@use "@angular/material" as mat;
@import "src/assets/style/theme";

.link-container {
  display: inline;
  padding: 5px 10px;
  cursor: pointer;
}

.active {
  background-color: #e0e0e0;
  border-radius: 5px;
  color: mat.get-color-from-palette($primary, 500);
}
