.mat-expansion-panel-header {
  align-items: center;

  ::ng-deep .mat-content {
    align-items: center;
  }

  .mat-expansion-panel-header-title {
    justify-content: space-between;
    max-width: 100px;
  }

  .mat-expansion-panel-header-description {
    align-items: center;
    text-align: end;
    justify-content: end;
  }

  .mat-icon {
    margin-right: 10px;
  }

  ::ng-deep .mat-expansion-indicator {
    padding-left: 10px;
    margin-left: 5px;
  }
}

.panel-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 10px;
}

.bank-details {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
}
