@import '@angular/material/theming';

@include mat-core();
$color-primary: mat-palette($mat-deep-purple);

.download-button {
  position: absolute;
  top: 24px;
  right: 12px;
  z-index: 2;
  background-color: wheat;

  .mat-icon {
    margin: 0;
    padding: 0;
    color: mat-color($color-primary);
  }
}

.mat-mdc-card {
  display: flex;
  width: 100%;
  height: auto;
  line-height: 2rem;
  padding: 15px;
  margin: 15px 0 0;
}

.mat-expansion-panel-header-title {
  font-size: 1.5rem;
}
