/* You can add global styles to this file, and also import other style files */

@import 'assets/style/mixins';

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  background-color: rgb(252, 248, 243);
}

.mat-accordion {
  @include flex-column();
}

.mat-mdc-card {
  padding: 20px;
  min-width: 400px;
}
